.page-wrapper{
  max-width: 980px;
  margin:0 auto ;
  img.main{
    max-width: 50%;
    margin: 0px 20px 14px;
    display: inline;
    float: left;
  }
  h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Lato;
    font-size: 19px;
    margin: 80px 20px 20px;
    font-weight: 300;
  }
}
.page-container{
  height: calc(100vh - 80px);
}
.section-con{
  height:100vh;
  .section{
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 0;
  }
}
.dark-section{
  background:#333;
}
p{
  font-weight: 300;
  font-size: 18px;
  padding: 0 20px 20px;
  line-height: 1.3;
  display: block;
}
h2{
  color: #fff;
text-transform: uppercase;
font-weight: 100;
letter-spacing: 2px;
font-size: 14px;
margin: 0 20px 20px;
}
.grid-1{
  width: 31%;
  display: inline-block;
  float: left;
  margin: 1%;
  position:relative;
  cursor:pointer;
}
.overlay{
  opacity: 0;
  position: absolute;
  height: 92%;
  width: 92%;
  background: rgba(0,0,0,0.8);
  padding:4%;
}
.grid-1:hover .overlay{
  opacity: 1;
  transition: opacity 1s;
}
.grid-2{
  width: 48%;
  display: inline-block;
  float: left;
  margin: 1%;
}

.grid.right{
  float:right;
}

.grid img{
  width:99.6%;
  float:left;
}

.carousel{
  position:relative;
  height:334px;
  width:100%;
  h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 1;
    color: #000;
    font-family: futura, lato;
  }
}

.carousel-1{
  background: #f8d440;
}

.carousel-2{
  background: #009069;
}

.carousel-3{
  background: #e2306c;
}

.carousel-4{
  background: #1e7bb4;
}

.carousel-3 h2,.carousel-4 h2{
  color:#fff;
}

@media only screen and (max-device-width: 1023px) and (orientation: landscape){
  .page-container{
    height: auto;
  }
}

@media only screen and (max-width: 667px) {
  img.main{
    width:50%;
  }
  .grid-1{
    width: 90%;
    margin: 5%;
    img{
      margin-bottom:2%;
    }
  }
  .overlay{
    opacity:1;
    background: transparent;
    position:static;
    padding:0;
    h2{
      color: #000;
      font-size: 10vw;
      font-weight: 400;
    }
    p{
      color:#000;
      font-size:4vw;
    }
  }
}

@media only screen and (max-width: 375px){
  .page-wrapper img.main{
    width: 88%;
    margin: 0 6% 14px;
    max-width:inherit;
  }
  .page-wrapper h1{
    font-size: 18px;
    line-height: 28px;
    width: 72%;
  }
  p{
    font-size:18px;
  }
  .page-container{
    height: auto;
  }
}
